<h1><%= page_title Tengine::Job::ScriptTemplate, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:name) %></th>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:server_name) %></th>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:credential_name) %></th>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:killing_signals) %></th>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:killing_signal_interval) %></th>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:description) %></th>
    <th><%= Tengine::Job::ScriptTemplate.human_attribute_name(:script) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @script_templates.each do |script_template| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= script_template.name %></td>
    <td><%= script_template.server_name %></td>
    <td><%= script_template.credential_name %></td>
    <td><%= script_template.killing_signals_text %></td>
    <td><%= script_template.killing_signal_interval %></td>
    <td><%= script_template.description %></td>
    <td><%= script_template.script %></td>
    <td><%= link_to_show script_template %></td>
    <td><%= link_to_edit edit_tengine_job_script_template_path(script_template) %></td>
    <td><%= link_to_destroy script_template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @script_templates %>

<br />

<%= link_to_new Tengine::Job::ScriptTemplate, new_tengine_job_script_template_path %>
