<h1><%= page_title Tengine::Job::ScriptTemplate, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:name) %>:</b>
  <%= @script_template.name %>
</p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:server_name) %>:</b>
  <%= @script_template.server_name %>
</p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:credential_name) %>:</b>
  <%= @script_template.credential_name %>
</p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:killing_signals) %>:</b>
  <%= @script_template.killing_signals_text %>
</p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:killing_signal_interval) %>:</b>
  <%= @script_template.killing_signal_interval %>
</p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:script) %>:</b>
  <%= @script_template.script %>
</p>

<p>
  <b><%= Tengine::Job::ScriptTemplate.human_attribute_name(:has_chained_children) %>:</b>
  <%= @script_template.has_chained_children %>
</p>


<%= link_to_edit edit_tengine_job_script_template_path(@script_template) %> |
<%= link_to_back_list tengine_job_script_templates_path %>
