<%= form_for(@edge, as:"edge") do |f| %>
  <% if @edge.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @edge.errors.size, :model => @edge.class.human_name) %></h2>

      <ul>
      <% @edge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_cd %><br />
    <%= f.number_field :status_cd %>
  </div>
  <div class="field">
    <%= f.label :origin_id %><br />
    <%= f.text_field :origin_id %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br />
    <%= f.text_field :destination_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
