<%= form_for(@edge, as:"edge") do |f| %>
  <%= model_error_messages(@edge) %>

  <div class="field">
    <%= f.label :status_cd %><br />
    <%= f.number_field :status_cd %>
  </div>
  <div class="field">
    <%= f.label :origin_id %><br />
    <%= f.text_field :origin_id %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br />
    <%= f.text_field :destination_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
