<%= form_for(@script, as:"script") do |f| %>
  <% if @script.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @script.errors.size, :model => @script.class.human_name) %></h2>

      <ul>
      <% @script.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :options_yaml %><br />
    <%= f.text_area :options_yaml %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.number_field :timeout %>
  </div>
  <div class="field">
    <%= f.label :messages_yaml %><br />
    <%= f.text_area :messages_yaml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
