<h1><%= page_title Tengine::Test::Script, :list %></h1>

<% content_for :end_of_head do -%>
<style>
pre {
  max-height:20em;
  max-width: 80em;
  overflow-x:auto;
  overflow-y:auto;
}
</style>
<% end -%>

<p id="notice"><%= notice %></p>

<% @from_index = true -%>
<%= render 'form' %>

<table>
  <tr>
    <th><%= Tengine::Test::Script.human_attribute_name(:kind) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:code) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:options) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:timeout) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:messages) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scripts.each do |script| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= script.kind_name %></td>
    <td><pre><%= script.code %></pre></td>
    <td><pre><%= script.options.is_a?(Hash) ? script.options_yaml : script.options.inspect %></pre></td>
    <td><%= script.timeout %></td>
    <td><pre><%= Psych.dump(script.messages).gsub(/'([^']|'')+'/m) {|m| m.gsub(/(\n +)/, ' ') } %></pre></td>
    <td><%= link_to_show script %></td>
    <td><%= link_to_edit edit_tengine_test_script_path(script) %></td>
    <td><%= link_to_destroy script, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @scripts %>

<br />

<%= link_to_new Tengine::Test::Script, new_tengine_test_script_path %>
