<h1><%= page_title Tengine::Test::Script, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Test::Script.human_attribute_name(:kind) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:code) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:options) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:timeout) %></th>
    <th><%= Tengine::Test::Script.human_attribute_name(:messages) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scripts.each do |script| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= script.kind %></td>
    <td><%= script.code %></td>
    <td><pre><%= script.options_yaml %></pre></td>
    <td><%= script.timeout %></td>
    <td><pre><%= script.messages_yaml %></pre></td>
    <td><%= link_to_show script %></td>
    <td><%= link_to_edit edit_tengine_test_script_path(script) %></td>
    <td><%= link_to_destroy script, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @scripts %>

<br />

<%= link_to_new Tengine::Test::Script, new_tengine_test_script_path %>
