<h1><%= page_title Tengine::Test::Script, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Test::Script.human_attribute_name(:kind) %>:</b>
  <%= @script.kind_name %>
</p>

<p>
  <b><%= Tengine::Test::Script.human_attribute_name(:code) %>:</b>
  <pre><%= @script.code %></pre>
</p>

<p>
  <b><%= Tengine::Test::Script.human_attribute_name(:options) %>:</b>
  <pre><%= @script.options_yaml %></pre>
</p>

<p>
  <b><%= Tengine::Test::Script.human_attribute_name(:timeout) %>:</b>
  <%= @script.timeout %>
</p>

<p>
  <b><%= Tengine::Test::Script.human_attribute_name(:messages) %>:</b>
  <pre><%= @script.messages_yaml.gsub(/\n\n/, "\n") %></pre>
</p>


<%= link_to_edit edit_tengine_test_script_path(@script) %> |
<%= link_to_back_list tengine_test_scripts_path %>
