<%= form_for(@credential, as:"credential") do |f| %>
  <%= model_error_messages(@credential) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :auth_type_cd %><br />
    <%= f.select :auth_type_cd, Tengine::Resource::Credential.auth_type_entries.collect{|p| [p.name, p.id] } %>
  </div>
  <div id="form_container">
    <!-- select_test.jsのコードが実行されることでここにhidden_formの内容が入る -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <!-- %= @credential.pretty_inspect% -->

  <div id="hidden_form" style="visibility:hidden; height:0; width:0;">
    <%= form_for( @credential, as:"credential") do |f|%>
      <% values = @credential.auth_values || {} %>
      <%= f.fields_for :auth_values, nil do |v| %>
        <div id ="01">
          <div class="field" id="01">
            <%=Tengine::Resource::Credential.human_attribute_name(:username) %>  <br />
            <%= v.text_field :username, value: values["username"] %><br />
          </div>
          <div class="field" id="01">
            <%=Tengine::Resource::Credential.human_attribute_name(:password) %>  <br />
            <%= v.password_field :password, value: values["password"] %><br />
          </div>
        </div>
        <div id ="02">
          <div class="field" id="02">
            <%=Tengine::Resource::Credential.human_attribute_name(:username) %>  <br />
            <%= v.text_field :username, value: values["username"] %><br />
          </div>
          <div class="field" id="02">
            <%=Tengine::Resource::Credential.human_attribute_name(:private_keys) %>  <br />
            <%= v.text_area :private_keys, value: values["private_keys"] %><br />
          </div>
          <div class="field" id="02">
            <%=Tengine::Resource::Credential.human_attribute_name(:passphrase) %>  <br />
            <%= v.password_field :passphrase, value: values["passphrase"]  %><br />
          </div>
        </div>
        <div id ="03">
          <div class="field" id="03">
            <%=Tengine::Resource::Credential.human_attribute_name(:access_key) %>  <br />
            <%= v.text_field :access_key, value: values["access_key"] %><br />
          </div>
          <div class="field" id="03">
            <%=Tengine::Resource::Credential.human_attribute_name(:secret_access_key) %>  <br />
            <br />
            <%= v.password_field :secret_access_key, value: values["secret_access_key"]%><br />
          </div>
          <div class="field" id="03">
            <%=Tengine::Resource::Credential.human_attribute_name(:default_region) %>  <br />
            <%= v.text_field :default_region, value: values["default_region"] %><br />
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
