<%= model_error_messages(@credential) %>
<%= form_for(@credential, as:"credential") do |f| %>
  <table class= "TableForm4rows" >
    <tbody class= "CelRow3">
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name, class: "InputText"  %></td>
      </tr>
      <tr>
        <th><%= f.label :description %></th>
        <td><%= f.text_field :description, class: "InputText"  %></td>
      </tr>
      <tr>
        <th><%= f.label :auth_type_cd %></th>
        <td><%= f.select :auth_type_cd, Tengine::Resource::Credential.auth_type_options %></td>
      </tr>
      <%= f.fields_for :auth_values, nil do |v| %>
        <% values = @credential.auth_values || {} %>
        <tr>
          <th><%=v.label "username", t(:username), %></th>
          <td><%= v.text_field :username, value: values["username"], class: "InputText"  %></td>
        </tr>
        <tr>
          <th><span id = "credential_auth2_name"></span></th>
          <td><span id = "credential_auth2_value"></span></td>
        </tr>
        <tr>
          <th><span id = "credential_auth3_name"></span></th>
          <td><span id = "credential_auth3_value"></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="BoxBtns">
    <span class="BtnWrap">
      <%= f.submit :class => "BtnAdd"  %>
    </span>
    <span class="BtnWrap">
      <%= submit_tag t("views.links.cancel"), :class => "BtnCancel" %>
    </span>
  </div>
<% end %>


<div id="hidden_form" style="visibility:hidden; height:0; width:0;">
  <%= form_for( @credential, as:"credential") do |f|%>
    <% values = @credential.auth_values || {} %>
    <%= f.fields_for :auth_values, nil do |v| %>
      <!-- for 01 (password authentication -->
        <span id = "hidden_password_key"><%=v.label "password", t(:password) %></span>
        <span id = "hidden_password_value"><%= v.password_field :password, value: values["password"], class: "InputText"  %></span>
      <!-- for 02 (publick key authentication -->
        <span id = "hidden_key_key"><%=v.label "private_keys", t(:private_keys) %></span>
        <span id = "hidden_key_value"><%= v.text_area :private_keys, value: values["private_keys"], class: "InputText"  %></span>
        <span id = "hidden_passphrase_key"><%=v.label "passphrase", t(:passphrase) %></span>
        <span id = "hidden_passphrase_value"><%= v.password_field :passphrase, value: values["passphrase"], class: "InputText" %></span>
      <!--  -->
    <%end%>
  <%end%>
</div>
