<%= form_for(@credential, as:"credential") do |f| %>
  <%= model_error_messages(@credential) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :auth_type_cd %><br />
    <%= f.select :auth_type_cd %>
  </div>
  <div class="field">
    <%= f.label :auth_values_yaml %><br />
    <%= f.text_area :auth_values_yaml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
