<%= form_for(@credential, as:"credential") do |f| %>
  <% if @credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @credential.errors.size, :model => @credential.class.human_name) %></h2>

      <ul>
      <% @credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :auth_type_cd %><br />
    <%= f.select :auth_type_cd %>
  </div>
  <div class="field">
    <%= f.label :auth_values_yaml %><br />
    <%= f.text_area :auth_values_yaml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
