<h1><%= page_title Tengine::Resource::Credential, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Resource::Credential.human_attribute_name(:name) %></th>
    <th><%= Tengine::Resource::Credential.human_attribute_name(:description) %></th>
    <th><%= Tengine::Resource::Credential.human_attribute_name(:auth_type_cd) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credentials.each do |credential| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= credential.name %></td>
    <td><%= credential.description %></td>
    <td><%= Tengine::Resource::Credential.auth_type_name_by_id(credential.auth_type_cd) %></td>
    <td><%= link_to_show credential %></td>
    <td><%= link_to_edit edit_tengine_resource_credential_path(credential) %></td>
    <td><%= link_to_destroy credential, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @credentials %>

<br />

<%= link_to_new Tengine::Resource::Credential, new_tengine_resource_credential_path %>
