<h1><%= page_title Tengine::Resource::Credential, :list %></h1>

<div class="Section">
  <%= message :complete, notice %>

  <div class="BoxBorder BoxSearchForm">
    <%= form_for(:finder, :html => {:method => :get}) do |f| %>
    <fieldset>
      <legend><%= I18n.t(:search_caption,:scope => [:views, :pages]) %></legend>
      <table class="TableForm4rows">
        <tbody class="CelRow2">
          <tr>
            <th><%= f.label :name, Tengine::Resource::Credential.human_attribute_name(:name) %></th>
            <td><%= f.text_field :name , :class => "InputText InputW200"%></td>
          </tr>
          <tr>
            <th><%= f.label :description, Tengine::Resource::Credential.human_attribute_name(:description) %></th>
            <td><%= f.text_field :description, :class => "InputText InputW200" %></td>
          </tr>
          <tr>
            <th><%= f.label :auth_type_cd, Tengine::Resource::Credential.human_attribute_name(:auth_type_cd) %></th>
            <td>
              <% Tengine::Resource::Credential.auth_type_options.each do |id, name| -%>
                <% method = "auth_type_cd_#{name}" -%>
                <%= f.check_box method, {:checked => @check_status[method]}, "1", "0" %>
                <%= f.label method, id %>
              <% end -%>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="BoxBtns">
        <span class= "BtnWrap"><%= f.submit(I18n.t(:search, :scope => [:views, :links]), :class => "BtnSearch") %></span>
        <span class= "BtnWrap"><%= tag :input, { "type" => "reset", "name" => "reset", "value" => I18n.t(:reset, :scope => [:views, :links]) , :class => "BtnCancel"} %></span>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>

<div class="Section">
  <%= paginate @credentials, :items => @credentials %>

  <table class="TableBase">
    <colgroup>
      <col class="Row1" />
      <col class="Row2" />
      <col class="Row3" />
      <col class="Row4" />
      <col class="Row5 RowAction" />
    </colgroup>
    <thead>
      <tr>
        <% query_without_page = request.query_parameters.select{|k,v| %w(category finder).include?(k.to_s) } -%>
        <th><%= link_to Tengine::Resource::Credential.human_attribute_name(:name), tengine_resource_credentials_path(query_without_page.merge(sort_param(:name))), :class => sort_class(:name) %></th>
        <th><%= link_to Tengine::Resource::Credential.human_attribute_name(:description), tengine_resource_credentials_path(query_without_page.merge(sort_param(:description))), :class => sort_class(:description) %></th>
        <th><%= link_to Tengine::Resource::Credential.human_attribute_name(:auth_type_cd), tengine_resource_credentials_path(query_without_page.merge(sort_param(:auth_type_cd))), :class => sort_class(:auth_type_cd) %></th>
        <th><%= Tengine::Resource::Credential.human_attribute_name(:auth_values) %></th>
        <th><%= I18n.t(:operation, :scope => [:views, :pages]) %></th>
      </tr>
    </thead>

    <tbody>    
      <% @credentials.each do |credential| %>
        <tr class="<%= cycle("even", "odd") %>" >
          <td><%= credential.name %></td>
          <td><%= credential.description %></td>
          <td><%= Tengine::Resource::Credential.auth_type_name_by_id(credential.auth_type_cd) %></td>
          <td>
            <%= yaml_view t(".links.show_config"), id:"authConfigValues" do -%>
              <%= credential.secure_auth_values.collect{|k, v|
                ERB::Util.html_escape("#{k}: #{v}") }.join("<br />").html_safe %>
            <% end -%>
          </td>
          <td><%= link_to_show credential, :class => "ActionDetail" %>
              <%= link_to_edit edit_tengine_resource_credential_path(credential), :class => "ActionEdit"  %>
              <%= link_to_destroy credential, confirm: t(".notice.confirm"), method: :delete, :class => "ActionDelete"  %></td>
        </tr>
      <% end %>
    </tbody>    
  </table>

  <%= paginate @credentials, :items => @credentials %>

  <div class="BoxBtns">
    <div class="BoxActionLinksRight"><p>
    <%= link_to "<span class='BtnAdd'>#{t(:new)}</span>".html_safe, new_tengine_resource_credential_path, :class => "BtnWrap"%></p>
    </div>
  </div>
</div>
