<h1><%= page_title Tengine::Resource::Credential, :list %></h1>

<p id="notice"><%= notice %></p>

<div class="search-box">
  <%= form_for(:finder, :html => {:method => :get}) do |f| %>
  <fieldset>
    <legend><%= I18n.t(:search_caption,:scope => [:views, :pages]) %></legend>
    <table>
     <tr>
       <th><%= f.label :name, Tengine::Resource::Credential.human_attribute_name(:name) %></th>
       <td><%= f.text_field :name %></td>
     </tr>
     <tr>
      <th><%= f.label :description, Tengine::Resource::Credential.human_attribute_name(:description) %></th>
      <td><%= f.text_field :description %></td>
     </tr>
     <tr>
      <th><%= f.label :auth_type_cd, Tengine::Resource::Credential.human_attribute_name(:auth_type_cd) %></th>
      <td>
        <% Tengine::Resource::Credential.auth_type_options.each do |id, name| %>
          <%= f.check_box  "auth_type_cd_#{name}", {:checked => "checked"}, "1", "0"  %>
          <%= id%>  
        <%end%>
     </tr>
   </table>

    <div class="align-right">
      <%= f.submit(I18n.t(:search, :scope => [:views, :links])) %>
      <%= tag :input, { "type" => "reset", "name" => "reset", "value" => I18n.t(:reset, :scope => [:views, :links]) } %>
    </div>
  </fieldset>
  <% end %>
</div>

  <%= paginate @credentials, :items => @credentials %>

<div class="wscrollable">
  <table>
    <tr>
      <% query_without_page = request.query_parameters.select{|k,v| %w(category finder).include?(k.to_s) } -%>
      <th><%= link_to Tengine::Resource::Credential.human_attribute_name(:name), tengine_resource_credentials_path(query_without_page.merge(sort_param(:name))), :class => sort_class(:name) %></th>
      <th><%= link_to Tengine::Resource::Credential.human_attribute_name(:description), tengine_resource_credentials_path(query_without_page.merge(sort_param(:description))), :class => sort_class(:description) %></th>
      <th><%= link_to Tengine::Resource::Credential.human_attribute_name(:auth_type_cd), tengine_resource_credentials_path(query_without_page.merge(sort_param(:auth_type_cd))), :class => sort_class(:auth_type_cd) %></th>
      <th><%= I18n.t(:operation, :scope => [:views, :pages]) %></th>
    </tr>
  
  <% @credentials.each do |credential| %>
    <tr class="<%= cycle("even", "odd") %>" >
      <td><%= credential.name %></td>
      <td><%= credential.description %></td>
      <td><%= Tengine::Resource::Credential.auth_type_name_by_id(credential.auth_type_cd) %></td>
      <td><%= link_to_show credential %>
          <%= link_to_edit edit_tengine_resource_credential_path(credential) %>
          <%= link_to_destroy credential, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
<br />

  <%= paginate @credentials, :items => @credentials %>

<br />

<%= link_to_new Tengine::Resource::Credential, new_tengine_resource_credential_path %>
