<h1><%= page_title Tengine::Resource::Credential, :show %></h1>

<p id="notice"><%= notice %></p>

<table class= "TableForm4rows" >
  <tbody class= "CelRow2">
    <tr>
      <th><%= Tengine::Resource::Credential.human_attribute_name(:name) %></th>
      <td><%= @credential.name %></td>
    </tr>
    <tr>
  <th><%= Tengine::Resource::Credential.human_attribute_name(:description) %></th>
  <td><%= @credential.description %></td>
    </tr>
    <tr>
  <th><%= Tengine::Resource::Credential.human_attribute_name(:auth_type_cd) %></th>
<td><%= Tengine::Resource::Credential.auth_type_name_by_id(@credential.auth_type_cd) %></td>
    </tr>
    <tr>
      <th><%= Tengine::Resource::Credential.human_attribute_name(:auth_values) %></th>
      <td>
        <pre><%= @credential.secure_auth_values.to_yaml.sub(
                    ApplicationHelper::YAML_SEPARATOR_REGEXP, '') %></pre>
      </td>
    </tr>
    <tr>
  <th><%= Tengine::Resource::Credential.human_attribute_name(:created_at) %></th>
  <td><%= @credential.created_at %></td>
    </tr>
  <th><%= Tengine::Resource::Credential.human_attribute_name(:updated_at) %></th>
  <td><%= @credential.updated_at %></td>
    </tr>
  </tbody>
</table>

<div class="BoxBtns">
    <%= link_to "<span class='BtnEdit'>#{t("views.links.edit")}</span>".html_safe, edit_tengine_resource_credential_path(@credential), :class => "BtnWrap" %>
    <%= link_to "<span class='BtnBack'>#{t("views.links.back_list")}</span>".html_safe, {:action => "index"}, {:class => "BtnWrap"} %>
</div>

