<h1><%= page_title Tengine::Resource::Credential, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Resource::Credential.human_attribute_name(:name) %>:</b>
  <%= @credential.name %>
</p>

<p>
  <b><%= Tengine::Resource::Credential.human_attribute_name(:description) %>:</b>
  <%= @credential.description %>
</p>

<p>
  <b><%= Tengine::Resource::Credential.human_attribute_name(:auth_type_cd) %>:</b>
<%= Tengine::Resource::Credential.auth_type_name_by_id(@credential.auth_type_cd) %>
</p>

<p>
  <b><%= Tengine::Resource::Credential.human_attribute_name(:auth_values) %>:</b>
  <pre><%= @credential.secure_auth_values.to_yaml%></pre><br/>
</p>

<p>
  <b><%= Tengine::Resource::Credential.human_attribute_name(:created_at) %>:</b>
  <%= @credential.created_at %>
</p>
<p>
  <b><%= Tengine::Resource::Credential.human_attribute_name(:updated_at) %>:</b>
  <%= @credential.updated_at %>
</p>

<%= link_to_edit edit_tengine_resource_credential_path(@credential) %> |
<%= link_to_back_list tengine_resource_credentials_path %>
