<h1><%= page_title Tengine::Job::JobnetTemplate, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:name) %>:</b>
  <%= @jobnet_template.name %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:server_name) %>:</b>
  <%= @jobnet_template.server_name %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:credential_name) %>:</b>
  <%= @jobnet_template.credential_name %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:killing_signals) %>:</b>
  <%= @jobnet_template.killing_signals_text %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:killing_signal_interval) %>:</b>
  <%= @jobnet_template.killing_signal_interval %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:description) %>:</b>
  <%= @jobnet_template.description %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:jobnet_type_cd) %>:</b>
  <%= @jobnet_template.jobnet_type_cd %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:dsl_version) %>:</b>
  <%= @jobnet_template.dsl_version %>
</p>

<p>
  <b><%= Tengine::Job::JobnetTemplate.human_attribute_name(:lock_version) %>:</b>
  <%= @jobnet_template.lock_version %>
</p>


<%= link_to_edit edit_tengine_job_jobnet_template_path(@jobnet_template) %> |
<%= link_to_back_list tengine_job_jobnet_templates_path %>
