<h1><%= page_title Tengine::Job::Runtime::Jobnet, :show %></h1>

<div class="Section">
  <%= message :complete, notice %>

  <table class= "TableInfoView" >
    <tbody>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:name) %></th>
        <td><%= @jobnet_actual.name %></td>
      </tr>
      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:description) %></th>
        <td><%= @jobnet_actual.description %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:script) %></th>
        <td><%= @jobnet_actual.script %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:server_name) %></th>
        <td><%= @jobnet_actual.server_name %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:credential_name) %></th>
        <td><%= @jobnet_actual.credential_name %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:executing_pid) %></th>
        <td><%= @jobnet_actual.executing_pid %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:exit_status) %></th>
        <td><%= @jobnet_actual.exit_status %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:phase_name) %></th>
        <td><%= @jobnet_actual.human_phase_name %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:started_at) %></th>
        <td><%= @jobnet_actual.started_at %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:finished_at) %></th>
        <td><%= @jobnet_actual.finished_at %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:stopped_at) %></th>
        <td><%= @jobnet_actual.stopped_at %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:stop_reason) %></th>
        <td><%= @jobnet_actual.stop_reason %></td>
      </tr>


      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:jobnet_type_name) %></th>
        <td><%= @jobnet_actual.jobnet_type_name %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:was_expansion) %></th>
        <td><%= @jobnet_actual.was_expansion %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:killing_signals) %></th>
        <td><%= @jobnet_actual.killing_signals_text %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:killing_signal_interval) %></th>
        <td><%= @jobnet_actual.killing_signal_interval %></td>
      </tr>

      <tr>
        <th><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:error_messages) %></th>
        <td>
          <% (@jobnet_actual.error_messages || []).each do |msg| %>
            <pre><%= msg %></pre>
          <% end -%>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="BoxBtns">
    <%= button_link_to t("views.links.back_list"),
      tengine_job_runtime_root_jobnet_path(@root_jobnet_actual.id), :btn_class => "BtnBack" %>
  </div>
</div>
