<%= form_for(@virtual_server_type, as:"virtual_server_type") do |f| %>
  <% if @virtual_server_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @virtual_server_type.errors.size, :model => @virtual_server_type.class.human_name) %></h2>

      <ul>
      <% @virtual_server_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provider_id %><br />
    <%= f.text_field :provider_id %>
  </div>
  <div class="field">
    <%= f.label :provided_id %><br />
    <%= f.text_field :provided_id %>
  </div>
  <div class="field">
    <%= f.label :properties_yaml %><br />
    <%= f.text_area :properties_yaml %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
