<h1><%= page_title Tengine::Job::Expansion, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Job::Expansion.human_attribute_name(:name) %>:</b>
  <%= @expansion.name %>
</p>

<p>
  <b><%= Tengine::Job::Expansion.human_attribute_name(:server_name) %>:</b>
  <%= @expansion.server_name %>
</p>

<p>
  <b><%= Tengine::Job::Expansion.human_attribute_name(:credential_name) %>:</b>
  <%= @expansion.credential_name %>
</p>

<p>
  <b><%= Tengine::Job::Expansion.human_attribute_name(:killing_signals) %>:</b>
  <%= @expansion.killing_signals_text %>
</p>

<p>
  <b><%= Tengine::Job::Expansion.human_attribute_name(:killing_signal_interval) %>:</b>
  <%= @expansion.killing_signal_interval %>
</p>

<p>
  <b><%= Tengine::Job::Expansion.human_attribute_name(:description) %>:</b>
  <%= @expansion.description %>
</p>


<%= link_to_edit edit_tengine_job_expansion_path(@expansion) %> |
<%= link_to_back_list tengine_job_expansions_path %>
