<%= form_for(@provider, as:"provider") do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @provider.errors.size, :model => @provider.class.human_name) %></h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
