<%= form_for(@driver, as:"driver") do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @driver.errors.size, :model => @driver.class.human_name) %></h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :enabled_on_activation %><br />
    <%= f.check_box :enabled_on_activation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
