<h1><%= page_title Tengine::Core::Driver, :list %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(:finder, :html => {:method => :get}) do |f| %>
<table>
 <tr>
  <th style="text-align:right"><%= f.label :name, Tengine::Core::Driver.human_attribute_name(:name) %></th>
  <td style="text-align:left;"><%= f.text_field :name %></td>
 </tr>
 <tr>
  <th style="text-align:right"><%= f.label :version, Tengine::Core::Driver.human_attribute_name(:version) %></th>
  <td style="text-align:left;"><%= f.text_field :version %></td>
 </tr>
 <tr>
  <th style="text-align:right"><%= f.label :enabled, Tengine::Core::Driver.human_attribute_name(:enabled) %></th>
  <td style="text-align:left;"><%= f.text_field :enabled %></td>
 </tr>
 <tr>
  <th style="text-align:right"><%= f.label :enabled_on_activation, Tengine::Core::Driver.human_attribute_name(:enabled_on_activation) %></th>
  <td style="text-align:left;"><%= f.text_field :enabled_on_activation %></td>
 </tr>
 <tr>
  <td colspan="2"><%= f.submit '検索', :id => 'input-submit' %></td>
 </tr>
</table>
<% end %>


<table class="list">
  <tr>
    <th><%= Tengine::Core::Driver.human_attribute_name(:name) %></th>
    <th><%= Tengine::Core::Driver.human_attribute_name(:version) %></th>
    <th><%= Tengine::Core::Driver.human_attribute_name(:enabled) %></th>
    <th><%= Tengine::Core::Driver.human_attribute_name(:enabled_on_activation) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drivers.each do |driver| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= driver.name %></td>
    <td><%= driver.version %></td>
    <td><%= driver.enabled %></td>
    <td><%= driver.enabled_on_activation %></td>
    <td><%= link_to_show driver %></td>
    <td><%= link_to_edit edit_tengine_core_driver_path(driver) %></td>
    <td><%= link_to_destroy driver, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @drivers %>

<br />

<%= link_to_new Tengine::Core::Driver, new_tengine_core_driver_path %>
