<h1><%= page_title Tengine::Core::Driver, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Core::Driver.human_attribute_name(:name) %>:</b>
  <%= @driver.name %>
</p>

<p>
  <b><%= Tengine::Core::Driver.human_attribute_name(:version) %>:</b>
  <%= @driver.version %>
</p>

<p>
  <b><%= Tengine::Core::Driver.human_attribute_name(:enabled) %>:</b>
  <%= @driver.enabled %>
</p>

<p>
  <b><%= Tengine::Core::Driver.human_attribute_name(:enabled_on_activation) %>:</b>
  <%= @driver.enabled_on_activation %>
</p>


<%= link_to_edit edit_tengine_core_driver_path(@driver) %> |
<%= link_to_back_list tengine_core_drivers_path %>
