<% unless @refresh_interval.zero? -%>
  <% content_for :end_of_head do -%>
    <meta http-equiv="refresh" content="<%= @refresh_interval %>">
  <% end -%>
  <p>[自動更新中] <%= @refresh_interval %> 秒間隔で自動更新しています。</p>
<% end -%>
<h1><%= t(".title") %></h1>

<div class="Section">
  <table class="TableInfoView">
    <colgroup>
      <col class="Row1 RowTh">
      <col class="Row2 RowTd">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:name) %></th>
        <td><%= @root_jobnet_actual.name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:id) %></th>
        <td><%= @root_jobnet_actual.id %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:description) %></th>
        <td><%= @root_jobnet_actual.description %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:server_name) %></th>
        <td><%= @root_jobnet_actual.server_name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:credential_name) %></th>
        <td><%= @root_jobnet_actual.credential_name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:started_at) %></th>
        <td><%= @root_jobnet_actual.started_at %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:finished_at) %></th>
        <td><%= @root_jobnet_actual.finished_at %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::Runtime::RootJobnet.human_attribute_name(:phase_cd) %></th>
        <td><%= @root_jobnet_actual.human_phase_name %></td>
      </tr>
    </tbody>
  </table>
</div><!-- /.Section -->

<p class="BoxBtns">
  <%= button_link_to t(".links.events"),
        tengine_core_events_path(:finder => @finder, :commit => "submit") %>
</p>

<%= message :complete, notice %>

<% unless @vertecs.blank? -%>
  <div class="Section">
    <h2><%= t("views.pages.component_jobs_caption") %></h2>

    <div class="BoxActionLinksRight">
      <%= form_for(:refresher, :url => tengine_job_runtime_root_jobnet_path(@root_jobnet_actual), :method => :get, html:{novalidate:true}) do |f| %>
        <%= f.label :refresh_interval, t(".form.refresh_interval") %>
        <%= f.number_field :refresh_interval, min:0, class:"InputText" %>
        <%= t("datetime.prompts.second") %>
        <span class="BtnWrap">
          <%= f.submit t(".form.submit"), class:"BtnNormal" %>
        <span>
      <% end %>
    </div>

    <table class="TableBase">
      <colgroup>
        <col class="Row1">
        <col class="Row2">
        <col class="Row3">
        <col class="Row4">
        <col class="Row5">
        <col class="Row6">
        <col class="Row7">
        <col class="Row8">
        <col class="Row9">
        <col class="Row10">
        <col class="Row11">
        <col class="Row12">
        <col class="Row13 RowW100">
      </colgroup>
      <thead>
        <tr>
          <th scope="col"><%= Tengine::Job::Vertex.human_attribute_name(:id) %></th>
          <th scope="col"><%= Tengine::Job::Vertex.human_attribute_name(:name) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:phase_cd) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:script) %>/Class</th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:next_edges) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:server_name) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:credential_name) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:started_at) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:finished_at) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:executing_pid) %></th>
          <th scope="col"><%= Tengine::Job::Runtime::Jobnet.human_attribute_name(:exit_status) %></th>
          <th scope="col"><%= t("views.pages.operation") %></th>
        </tr>
      </thead>
      <tbody>
        <% @vertecs.each do |vertex| -%>
          <tr>
            <td><%= vertex.id %></td>
            <td><%= vertex.name_path %></td>
            <% if vertex.is_a?(Tengine::Job::Runtime::Jobnet) -%>
            <td><%= vertex.human_phase_name %></td>
            <td><%= vertex.script %></td>
            <td>
              <% (vertex.next_edges || []).each do |edge| -%>
                <div>
                  <%= edge.destination.name_path %>
                  [<%= edge.phase_name %>]
                </div>
              <% end -%>
            </td>
            <td><%= vertex.actual_server_name %></td>
            <td><%= vertex.actual_credential_name %></td>
            <td><%= vertex.started_at %></td>
            <td><%= vertex.finished_at %></td>
            <td><%= vertex.executing_pid %></td>
            <td><%= vertex.exit_status %></td>
            <td class="Last">
            </td>
            <% else -%>
            <td></td>
            <td><%= vertex.class.name %></td>
            <td>
              <% (vertex.next_edges || []).each do |edge| -%>
                <div>
                  <%= edge.destination.name_path %>
                  [<%= edge.phase_name %>]
                </div>
              <% end -%>
            </td>
            <td colspan="8"> </td>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <% if %w(ready starting running).include?(@root_jobnet_actual.phase_key.to_s) -%>
      <p class="BoxBtns">
        <%= button_link_to t("views.links.force_exit"),
          tengine_job_runtime_root_jobnet_path(@root_jobnet_actual),
          method:"delete", confirm:t(".confirm.destroy"), btn_class:"BtnDelete" %>
      </p>
    <% end -%>
  </div><!-- /.Section -->
<% end -%>

