<h1><%= page_title Tengine::Job::RootJobnetActual, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:name) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:server_name) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:credential_name) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:killing_signals) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:killing_signal_interval) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:description) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:script) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:jobnet_type_cd) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:was_expansion) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:phase_cd) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:started_at) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:finished_at) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:stopped_at) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:stop_reason) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:category) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:dsl_filepath) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:dsl_lineno) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:dsl_version) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:lock_version) %></th>
    <th><%= Tengine::Job::RootJobnetActual.human_attribute_name(:template) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @root_jobnet_actuals.each do |root_jobnet_actual| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= root_jobnet_actual.name %></td>
    <td><%= root_jobnet_actual.server_name %></td>
    <td><%= root_jobnet_actual.credential_name %></td>
    <td><%= root_jobnet_actual.killing_signals_text %></td>
    <td><%= root_jobnet_actual.killing_signal_interval %></td>
    <td><%= root_jobnet_actual.description %></td>
    <td><%= root_jobnet_actual.script %></td>
    <td><%= root_jobnet_actual.jobnet_type_cd %></td>
    <td><%= root_jobnet_actual.was_expansion %></td>
    <td><%= root_jobnet_actual.phase_cd %></td>
    <td><%= root_jobnet_actual.started_at %></td>
    <td><%= root_jobnet_actual.finished_at %></td>
    <td><%= root_jobnet_actual.stopped_at %></td>
    <td><%= root_jobnet_actual.stop_reason %></td>
    <td><%= root_jobnet_actual.category %></td>
    <td><%= root_jobnet_actual.dsl_filepath %></td>
    <td><%= root_jobnet_actual.dsl_lineno %></td>
    <td><%= root_jobnet_actual.dsl_version %></td>
    <td><%= root_jobnet_actual.lock_version %></td>
    <td><%= root_jobnet_actual.template %></td>
    <td><%= link_to_show root_jobnet_actual %></td>
    <td><%= link_to_edit edit_tengine_job_root_jobnet_actual_path(root_jobnet_actual) %></td>
    <td><%= link_to_destroy root_jobnet_actual, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @root_jobnet_actuals %>

<br />

<%= link_to_new Tengine::Job::RootJobnetActual, new_tengine_job_root_jobnet_actual_path %>
