<h1><%= t(".title") %></h1>

<div class="Section">
  <table class="TableInfoView">
    <colgroup>
      <col class="Row1 RowTh">
      <col class="Row2 RowTd">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:name) %>:</th>
        <td><%= @root_jobnet_actual.name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:id) %>:</th>
        <td><%= @root_jobnet_actual.id %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:description) %>:</th>
        <td><%= @root_jobnet_actual.description %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:server_name) %>:</th>
        <td><%= @root_jobnet_actual.server_name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:credential_name) %>:</th>
        <td><%= @root_jobnet_actual.credential_name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:started_at) %>:</th>
        <td><%= @root_jobnet_actual.started_at %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:finished_at) %>:</th>
        <td><%= @root_jobnet_actual.finished_at %></td>
      </tr>
      <tr>
        <th scope="row"><%= Tengine::Job::RootJobnetActual.human_attribute_name(:phase_cd) %>:</th>
        <td><%= @root_jobnet_actual.phase_name %></td>
      </tr>
    </tbody>
  </table>
</div><!-- /.Section -->

<%= link_to t(".links.events"), tengine_core_events_path(:finder => @finder, :commit => "submit") %>

<p id="notice"><%= notice %></p>

<% unless @jobnet_actuals.blank? -%>
  <div class="Section">
    <h2><%= t("views.pages.component_jobs_caption") %></h2>

    <p class="BoxActionLinksRight">
      <%= form_for(:refresher, :url => tengine_job_root_jobnet_actual_path(@root_jobnet_actual), :method => :get) do |f| %>
        <%= f.label :refresh_interval, t(".form.refresh_interval") %>:
        <%= f.number_field :refresh_interval %><%= t("datetime.prompts.second") %>
        <%= f.submit t(".form.submit") %>
      <% end %>
    </p>

    <table class="TableBase">
      <colgroup>
        <col class="Row1">
        <col class="Row2">
        <col class="Row3">
        <col class="Row4">
        <col class="Row5">
      </colgroup>
      <thead>
        <tr>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:id) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:name) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:description) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:script) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:server_name) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:credential_name) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:started_at) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:finished_at) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:phase_cd) %></th>
          <th scope="col"><%= Tengine::Job::JobnetActual.human_attribute_name(:destinations) %></th>
          <th scope="col"><%= t("views.pages.operation") %></th>
        </tr>
      </thead>
      <tbody>
        <% @jobnet_actuals.each do |jobnet_actual| -%>
          <% jobnet_actual, lv = jobnet_actual -%>
          <tr>
            <td><%= jobnet_actual.id %></td>
            <td><%== '&nbsp;&nbsp;' * lv %><%= jobnet_actual.name %></td>
            <td><%= jobnet_actual.description %></td>
            <td><%= jobnet_actual.script %></td>
            <td><%= jobnet_actual.server_name %></td>
            <td><%= jobnet_actual.credential_name %></td>
            <td><%= jobnet_actual.started_at %></td>
            <td><%= jobnet_actual.finished_at %></td>
            <td><%= jobnet_actual.phase_name %></td>
            <td>
              <% unless (edges = jobnet_actual.next_edges).blank? -%>
                <% if (dest = edges.first.destination).instance_of?(Tengine::Job::JobnetActual) -%>
                  <%= dest.name %>
                <% else -%>
                  <%= dest.next_edges.collect{|edge| edge.destination.name }.join(", ") %>
                <% end -%>
              <% end -%>
            </td>
            <td class="Last">
              <% if %w(stuck).include?(jobnet_actual.phase_key.to_s) -%>
                <%= link_to t("views.links.edit_status"), edit_tengine_job_root_jobnet_actual_jobnet_actual_path(jobnet_actual, :root_jobnet_actual_id => @root_jobnet_actual) %>
              <% end -%>
              <% if %w(initialized success error stuck).include?(jobnet_actual.phase_key.to_s) -%>
                <%= link_to t("views.links.rerun"), new_tengine_job_execution_path(:root_jobnet_id => @root_jobnet_actual, :target_actual_ids => [jobnet_actual.id.to_s], :retry => true) %>
              <% end -%>
              <% if %w(running).include?(jobnet_actual.phase_key.to_s) -%>
                <%= link_to t("views.links.force_exit"), tengine_job_root_jobnet_actual_jobnet_actual_path(jobnet_actual, :root_jobnet_actual_id => @root_jobnet_actual), :method => "delete", confirm: t(".confirm.destroy") %>
              <% end -%>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <% if %w(running).include?(@root_jobnet_actual.phase_key.to_s) -%>
      <p class="BoxActionLinksRight">
        <%= link_to t("views.links.force_exit"), tengine_job_root_jobnet_actual_path(@root_jobnet_actual), :method => "delete", confirm: t(".confirm.destroy") %>
      </p>
    <% end -%>
  </div><!-- /.Section -->
<% end -%>

