<h1><%= page_title Tengine::Job::Jobnet, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:name) %>:</b>
  <%= @jobnet.name %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:server_name) %>:</b>
  <%= @jobnet.server_name %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:credential_name) %>:</b>
  <%= @jobnet.credential_name %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:killing_signals) %>:</b>
  <%= @jobnet.killing_signals_text %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:killing_signal_interval) %>:</b>
  <%= @jobnet.killing_signal_interval %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:script) %>:</b>
  <%= @jobnet.script %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:description) %>:</b>
  <%= @jobnet.description %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:jobnet_type_cd) %>:</b>
  <%= @jobnet.jobnet_type_cd %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:dsl_version) %>:</b>
  <%= @jobnet.dsl_version %>
</p>

<p>
  <b><%= Tengine::Job::Jobnet.human_attribute_name(:lock_version) %>:</b>
  <%= @jobnet.lock_version %>
</p>


<%= link_to_edit edit_tengine_job_jobnet_path(@jobnet) %> |
<%= link_to_back_list tengine_job_jobnets_path %>
