<%= form_for(@handler_path, as:"handler_path") do |f| %>
  <%= model_error_messages(@handler_path) %>

  <div class="field">
    <%= f.label :event_type_name %><br />
    <%= f.text_field :event_type_name %>
  </div>
  <div class="field">
    <%= f.label :handler_id %><br />
    <%= f.text_field :handler_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
