<%= form_for(@ec2, as:"ec2", url:tengine_resource_provider_ec2s_path) do |f| %>
  <%= model_error_messages(@ec2) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :connection_settings %><br />
    <%= f.text_area :connection_settings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
