<h1><%= page_title Tengine::ResourceEc2::Provider, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::ResourceEc2::Provider.human_attribute_name(:name) %></th>
    <th><%= Tengine::ResourceEc2::Provider.human_attribute_name(:description) %></th>
    <th><%= Tengine::ResourceEc2::Provider.human_attribute_name(:connection_settings) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ec2s.each do |ec2| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= ec2.name %></td>
    <td><%= ec2.description %></td>
    <td><%= ec2.connection_settings %></td>
    <td><%= link_to_show ec2 %></td>
    <td><%= link_to_edit edit_tengine_resource_provider_ec2_path(ec2) %></td>
    <td><%= link_to_destroy ec2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @ec2s %>

<br />

<%= link_to_new Tengine::ResourceEc2::Provider, new_tengine_resource_provider_ec2_path %>
