<%= form_for(@server, as:"server") do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @server.errors.size, :model => @server.class.human_name) %></h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :host_id %><br />
    <%= f.text_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :provided_name %><br />
    <%= f.text_field :provided_name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :public_hostname %><br />
    <%= f.text_field :public_hostname %>
  </div>
  <div class="field">
    <%= f.label :public_ipv4 %><br />
    <%= f.text_field :public_ipv4 %>
  </div>
  <div class="field">
    <%= f.label :local_hostname %><br />
    <%= f.text_field :local_hostname %>
  </div>
  <div class="field">
    <%= f.label :local_ipv4 %><br />
    <%= f.text_field :local_ipv4 %>
  </div>
  <div class="field">
    <%= f.label :properties_yaml %><br />
    <%= f.text_area :properties_yaml %>
  </div>
  <div class="field">
    <%= f.label :provided_image_name %><br />
    <%= f.text_field :provided_image_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
