<h1><%= page_title Tengine::Job::Job, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Job::Job.human_attribute_name(:name) %></th>
    <th><%= Tengine::Job::Job.human_attribute_name(:server_name) %></th>
    <th><%= Tengine::Job::Job.human_attribute_name(:credential_name) %></th>
    <th><%= Tengine::Job::Job.human_attribute_name(:killing_signals) %></th>
    <th><%= Tengine::Job::Job.human_attribute_name(:killing_signal_interval) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= job.name %></td>
    <td><%= job.server_name %></td>
    <td><%= job.credential_name %></td>
    <td><%= job.killing_signals_text %></td>
    <td><%= job.killing_signal_interval %></td>
    <td><%= link_to_show job %></td>
    <td><%= link_to_edit edit_tengine_job_job_path(job) %></td>
    <td><%= link_to_destroy job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @jobs %>

<br />

<%= link_to_new Tengine::Job::Job, new_tengine_job_job_path %>
