<div class="BoxBorder BoxSearchForm">
  <%= form_for(@physical_server, as:"physical_server") do |f| %>
    <%= model_error_messages(@physical_server) %>
      <table class= "TableForm4rows" >
        <tbody class= "CelRow2">
          <tr>
            <th><%= f.label :name %></th>
            <td><%= f.text_field :name, class: "InputText InputW200"  %></td>
          </tr>
          <tr>
            <th><%= f.label :provided_id %>
            <td><% :provided_id %>
          </tr>
          <tr>
            <th><%= f.label :provider_id %>
            <td><% :provider_id %>
          </tr>
          <tr>
            <th><%= f.label :description %>
            <td><%=  :description %>
          </tr>
          <tr>
            <th><%= f.label :status %>
            <td><%= :status %>
          </tr>
          <tr>
            <th><%= f.label :properties %>
            <td><%= f.text_area :properties, class: "InputText InputW200" %>
          </tr>
      </tbody>
    </table>
  
    <div class="BoxBtns">
      <span class="BtnWrap">
        <%= f.submit :class => "BtnNext"  %>
      </span>
    </div>
  <% end %>
</div>
