<h1><%= page_title Tengine::Resource::PhysicalServer, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:provider) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:name) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:description) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:provided_name) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:status) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:public_hostname) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:public_ipv4) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:local_hostname) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:local_ipv4) %></th>
    <th><%= Tengine::Resource::PhysicalServer.human_attribute_name(:properties) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @physical_servers.each do |physical_server| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= physical_server.provider %></td>
    <td><%= physical_server.name %></td>
    <td><%= physical_server.description %></td>
    <td><%= physical_server.provided_name %></td>
    <td><%= physical_server.status %></td>
    <td><%= physical_server.public_hostname %></td>
    <td><%= physical_server.public_ipv4 %></td>
    <td><%= physical_server.local_hostname %></td>
    <td><%= physical_server.local_ipv4 %></td>
    <td><pre><%= physical_server.properties_yaml %></pre></td>
    <td><%= link_to_show physical_server %></td>
    <td><%= link_to_edit edit_tengine_resource_physical_server_path(physical_server) %></td>
    <td><%= link_to_destroy physical_server, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @physical_servers %>

<br />

<%= link_to_new Tengine::Resource::PhysicalServer, new_tengine_resource_physical_server_path %>
