<h1><%= page_title Tengine::Resource::PhysicalServer, :list %></h1>

<p id="notice"><%= notice %></p>
    
<p>cpu_cores, memory_sizeを利用する列は &lt;% if :cpu_cores == true % &gt;でくくってあります。 </p>

<div class="BoxBorder BoxSearchForm">
  <%= form_for(:finder, :html => {:method => :get}) do |f| %>
  <fieldset>
    <legend><%= I18n.t(:search_caption,:scope => [:views, :pages]) %></legend>
    <table class="TableForm4rows">
      <tbody class="CelRow2">
        <tr>
          <th><%= f.label :name, Tengine::Resource::PhysicalServer.human_attribute_name(:name) %></th>
          <td><%= f.text_field :name , :class => "InputText InputW200"%></td>
        </tr>
        <tr>
          <th><%= f.label :provided_id, Tengine::Resource::PhysicalServer.human_attribute_name(:provided_id) %></th>
          <td><%= f.text_field :provided_id,  :class => "InputText InputW200"%></td>
        </tr>
        <tr>
          <th><%= f.label :description, Tengine::Resource::PhysicalServer.human_attribute_name(:description) %></th>
          <td><%= f.text_field :description, :class => "InputText InputW200" %></td>
        </tr>
        <tr>
          <th><%= f.label :status, Tengine::Resource::PhysicalServer.human_attribute_name(:status) %></th>
          <td>
              <%= f.check_box "status_01", {:checked => "checked"}, "1", "0"  %>
              <%= t(:online) %>
              <%= f.check_box  "status_02", {:checked => "checked"}, "1", "0"  %>
              <%= t(:registering) %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="BoxBtns">
      <span class= "BtnWrap"><%= f.submit(I18n.t(:search, :scope => [:views, :links]), :class => "BtnSearch") %></span>
      <span class= "BtnWrap"><%= tag :input, { "type" => "reset", "name" => "reset", "value" => I18n.t(:reset, :scope => [:views, :links]) , :class => "BtnCancel"} %></span>
    </div>
  </fieldset>
  <% end %>
</div>

<div class="PageStats">
  <div class="Pagenation">
    <%= paginate @physical_servers, :items => @physical_servers %>
  </div>
</div>

<table class="TableBase">
  <thead>
    <tr>
      <% query_without_page = request.query_parameters.select{|k,v| %w(category finder).include?(k.to_s) } -%>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:name), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:name))), :class => sort_class(:name) %></th>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:provided_id), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:provided_id))), :class => sort_class(:provided_id) %></th>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:description), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:description))), :class => sort_class(:description) %></th>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:status), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:status))), :class => sort_class(:status) %></th>
    <% if :cpu_cores == true %>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:cpu_cores), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:cpu_core))), :class => sort_class(:cpu_cores) %></th>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:memory_size), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:memory_size))), :class => sort_class(:memory_size) %></th>
    <% end %>
      <th><%= link_to Tengine::Resource::PhysicalServer.human_attribute_name(:properties), tengine_resource_physical_servers_path(query_without_page.merge(sort_param(:properties))), :class => sort_class(:properties) %></th>
      <th><%= I18n.t(:operation, :scope => [:views, :pages]) %></th>
    </tr>
  </thead>

    <tbody>

<% @physical_servers.each do |physical_server| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= physical_server.name %></td>
    <td><%= physical_server.provided_id %></td>
    <td><div class="YamlView" id= "description<%= physical_server.id.to_s %>">
      <span class="IconYaml"><%= physical_server.description[0,5] %></span>
      <div class="YamlScript">
        <%= physical_server.description %>
      </div>
    </div></td>
    <% if :cpu_cores == true %>
      <td><%= physical_server.cpu_cores %></td>
      <td><%= physical_server.memory_size %></td>
    <% end %>
    <td><%= physical_server.status %></td>
    <td><div class="YamlView" id= "properties_yaml<%=physical_server.id.to_s %>">
      <span class="IconYaml" style="display:block;">表示</span>
      <div class="YamlScript">
        <p><%= physical_server.properties_yaml unless physical_server.properties.empty? %></p>
        <a class="Close">close</a>
      </div>
    </div></td>
    <td><%= link_to_edit edit_tengine_resource_physical_server_path(physical_server), :class => "ActionEdit" %></td>

  </tr>
<% end %>
</table>


<div class="PageStats">
  <div class="Pagenation">
    <%= paginate @physical_servers, :items => @physical_servers %>
  </div>
</div>
