<h1><%= page_title Tengine::Job::ScriptActual, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:name) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:server_name) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:credential_name) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:killing_signals) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:killing_signal_interval) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:description) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:script) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:executing_pid) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:exit_status) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:phase_cd) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:started_at) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:finished_at) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:stopped_at) %></th>
    <th><%= Tengine::Job::ScriptActual.human_attribute_name(:stop_reason) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @script_actuals.each do |script_actual| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= script_actual.name %></td>
    <td><%= script_actual.server_name %></td>
    <td><%= script_actual.credential_name %></td>
    <td><%= script_actual.killing_signals_text %></td>
    <td><%= script_actual.killing_signal_interval %></td>
    <td><%= script_actual.description %></td>
    <td><%= script_actual.script %></td>
    <td><%= script_actual.executing_pid %></td>
    <td><%= script_actual.exit_status %></td>
    <td><%= script_actual.phase_cd %></td>
    <td><%= script_actual.started_at %></td>
    <td><%= script_actual.finished_at %></td>
    <td><%= script_actual.stopped_at %></td>
    <td><%= script_actual.stop_reason %></td>
    <td><%= link_to_show script_actual %></td>
    <td><%= link_to_edit edit_tengine_job_script_actual_path(script_actual) %></td>
    <td><%= link_to_destroy script_actual, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @script_actuals %>

<br />

<%= link_to_new Tengine::Job::ScriptActual, new_tengine_job_script_actual_path %>
