<h1><%= page_title Tengine::Job::ScriptActual, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:name) %>:</b>
  <%= @script_actual.name %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:server_name) %>:</b>
  <%= @script_actual.server_name %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:credential_name) %>:</b>
  <%= @script_actual.credential_name %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:killing_signals) %>:</b>
  <%= @script_actual.killing_signals_text %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:killing_signal_interval) %>:</b>
  <%= @script_actual.killing_signal_interval %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:script) %>:</b>
  <%= @script_actual.script %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:has_chained_children) %>:</b>
  <%= @script_actual.has_chained_children %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:executing_pid) %>:</b>
  <%= @script_actual.executing_pid %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:exit_status) %>:</b>
  <%= @script_actual.exit_status %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:phase_cd) %>:</b>
  <%= @script_actual.phase_cd %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:started_at) %>:</b>
  <%= @script_actual.started_at %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:finished_at) %>:</b>
  <%= @script_actual.finished_at %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:stopped_at) %>:</b>
  <%= @script_actual.stopped_at %>
</p>

<p>
  <b><%= Tengine::Job::ScriptActual.human_attribute_name(:stop_reason) %>:</b>
  <%= @script_actual.stop_reason %>
</p>


<%= link_to_edit edit_tengine_job_script_actual_path(@script_actual) %> |
<%= link_to_back_list tengine_job_script_actuals_path %>
