<%= form_for(@virtual_server_image, as:"virtual_server_image") do |f| %>
  <%= model_error_messages(@virtual_server_image) %>

  <div class="field">
    <%= f.label :provider_id %><br />
    <%= f.text_field :provider_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :provided_id %><br />
    <%= f.text_field :provided_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
