<div class="Section">
  <div class="BoxBorder BoxSearchForm">
    <% unless defined?(status_only) -%>
      <% status_only = false -%>
    <% end -%>
    <% unless defined?(submit_path) -%>
      <% submit_path = tengine_job_root_jobnet_actual_jobnet_actuals_path(@root_jobnet_actual) -%>
    <% end -%>
    <%= form_for(@jobnet_actual, as:"jobnet_actual", url:submit_path) do |f| %>
      <%= model_error_messages(@jobnet_actual) %>

      <% unless status_only -%>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :server_name %><br />
          <%= f.text_field :server_name %>
        </div>
        <div class="field">
          <%= f.label :credential_name %><br />
          <%= f.text_field :credential_name %>
        </div>
        <div class="field">
          <%= f.label :killing_signals_text %><br />
          <%= f.text_field :killing_signals_text %>
        </div>
        <div class="field">
          <%= f.label :killing_signal_interval %><br />
          <%= f.number_field :killing_signal_interval %>
        </div>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :script %><br />
          <%= f.text_field :script %>
        </div>
        <div class="field">
          <%= f.label :jobnet_type_cd %><br />
          <%= f.number_field :jobnet_type_cd %>
        </div>
        <div class="field">
          <%= f.label :executing_pid %><br />
          <%= f.text_field :executing_pid %>
        </div>
        <div class="field">
          <%= f.label :exit_status %><br />
          <%= f.text_field :exit_status %>
        </div>
        <div class="field">
          <%= f.label :was_expansion %><br />
          <%= f.check_box :was_expansion %>
        </div>
        <div class="field">
          <%= f.label :phase_cd %><br />
          <%= f.number_field :phase_cd %>
        </div>
        <div class="field">
          <%= f.label :started_at %><br />
          <%= f.datetime_select :started_at %>
        </div>
        <div class="field">
          <%= f.label :finished_at %><br />
          <%= f.datetime_select :finished_at %>
        </div>
        <div class="field">
          <%= f.label :stopped_at %><br />
          <%= f.datetime_select :stopped_at %>
        </div>
        <div class="field">
          <%= f.label :stop_reason %><br />
          <%= f.text_field :stop_reason %>
        </div>
      <% else %>
        <table class="TableForm4rows">
          <colgroup>
            <col class="Row1 RowTh">
            <col class="Row2 RowTd">
          </colgroup>
          <tbody>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:name) %>:</th>
              <td><%= @jobnet_actual.name %></td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:executing_pid) %>:</th>
              <td><%= @jobnet_actual.executing_pid %></td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:script) %>:</th>
              <td><%= @jobnet_actual.script %></td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:server_name) %>:</th>
              <td><%= @jobnet_actual.server_name %></td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:credential_name) %>:</th>
              <td><%= @jobnet_actual.credential_name %></td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:destinations) %>:</th>
              <td>
                <% unless (edges = @jobnet_actual.next_edges).blank? -%>
                  <% if (dest = edges.first.destination).instance_of?(Tengine::Job::JobnetActual) -%>
                    <%= dest.name %>
                  <% else -%>
                      <% next_jobs = dest.next_edges.collect { |edge|
                           d = edge.destination;
                           d.name unless (d.instance_of?(Tengine::Job::End) || d.kind_of?(Tengine::Job::Junction))
                         }
                      -%>
                      <%= next_jobs.compact.join(", ") %>
                  <% end -%>
                <% end -%>
              </td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:started_at) %>:</th>
              <td><%= @jobnet_actual.started_at %></td>
            </tr>
            <tr>
              <th><%= Tengine::Job::JobnetActual.human_attribute_name(:finished_at) %>:</th>
              <td><%= @jobnet_actual.finished_at %></td>
            </tr>
            <tr>
              <th><%= f.label :phase_cd %>:</th>
              <td>
                <%= f.select :phase_cd, Tengine::Job::JobnetActual.phase_hash_array.map{|hash| [hash[:name].to_s, hash[:id]] if [:initialized, :success, :error].include?(hash[:key]) }.compact %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>

      <div class="BoxBtns">
        <span class="BtnWrap">
          <% if @jobnet_actual.persisted? -%>
            <%= f.submit :class => "BtnNext" %>
          <% else -%>
            <%= f.submit :class => "BtnAdd" %>
          <% end -%>
        </span>
        <% unless defined?(cancel_path) -%>
          <% cancel_path = tengine_job_root_jobnet_actual_jobnet_actuals_path(@root_jobnet_actual) -%>
        <% end %>
        <%= button_link_to t("views.links.cancel"), cancel_path, btn_class:"BtnCancel" %>
        </div>
    <% end %>
  </div>
</div>
