<%= form_for(@handler, as:"handler", url: @handler.new_record? ?
    tengine_core_driver_handlers_path(@driver) :
    tengine_core_driver_handler_path(@driver, @handler) ) do |f| %>
  <% if @handler.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @handler.errors.size, :model => @handler.class.human_name) %></h2>

      <ul>
      <% @handler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_type_names_text %><br />
    <%= f.text_area :event_type_names_text %>
  </div>
  <div class="field">
    <%= f.label :filter_yaml %><br />
    <%= f.text_area :filter_yaml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
