<br/>
<%= link_to_list Tengine::Core::Driver, tengine_core_drivers_path %> &gt;
<%= link_to_model @driver %> &gt;
<%= link_to_list Tengine::Core::Handler, tengine_core_driver_handlers_path(@driver) %> &gt;

<h1><%= page_title Tengine::Core::Handler, :edit %></h1>

<%= render 'form' %>

<%= link_to_show [@driver, @handler] %> |
<%= link_to_back_list tengine_core_driver_handlers_path(@driver) %>
