<h1><%= page_title Tengine::Resource::VirtualServer, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provider) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:name) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_id) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:description) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:status) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:addresses) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:properties) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_image_id) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_type_id) %></th>
    <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:host_server) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @virtual_servers.each do |virtual_server| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= virtual_server.provider %></td>
    <td><%= virtual_server.name %></td>
    <td><%= virtual_server.provided_id %></td>
    <td><%= virtual_server.description %></td>
    <td><%= virtual_server.status %></td>
    <td><pre><%= virtual_server.addresses_yaml %></pre></td>
    <td><pre><%= virtual_server.properties_yaml %></pre></td>
    <td><%= virtual_server.provided_image_id %></td>
    <td><%= virtual_server.provided_type_id %></td>
    <td><%= virtual_server.host_server %></td>
    <td><%= link_to_show virtual_server %></td>
    <td><%= link_to_edit edit_tengine_resource_virtual_server_path(virtual_server) %></td>
    <td><%= link_to_destroy virtual_server, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @virtual_servers %>

<br />

<%= link_to_new Tengine::Resource::VirtualServer, new_tengine_resource_virtual_server_path %>
