<% if @auto_refresh -%>
<% content_for :end_of_head do -%>
  <meta http-equiv="refresh" content="<%= @refresh_interval %>">
<% end -%>
<p>
[自動更新中] <%= @refresh_interval %>秒間隔で自動更新しています。
</p>
<% end -%>

<h1><%= page_title Tengine::Resource::VirtualServer, :list %></h1>

<p id="notice"><%= notice %></p>

<div class="Section">
  <div class="BoxBorder BoxSearchForm">
    <%= form_for(:finder, :url => tengine_resource_virtual_servers_url, :method => :get) do |f| %>
      <%= field_set_tag do -%>
        <legend><%= t("views.pages.search_caption") %></legend>
        <table class="TableForm4rows">
          <colgroup>
            <col class="Row1 RowTh">
            <col class="Row2 RowTd">
          </colgroup>
          <tbody>
            <tr>
              <th><%= f.label :physical_server_name %>:</th>
              <td><%= f.text_field :physical_server_name, :class => "InputText" %></td>
            </tr>
            <tr>
              <th><%= f.label :virtual_server_name %>:</th>
              <td><%= f.text_field :virtual_server_name, :class => "InputText" %></td>
            </tr>
            <tr>
              <th><%= f.label :provided_id %>:</th>
              <td><%= f.text_field :provided_id, :class => "InputText" %></td>
            </tr>
            <tr>
              <th><%= f.label :description %>:</th>
              <td><%= f.text_field :description, :class => "InputText" %></td>
            </tr>
            <tr>
              <th><%= f.label :virtual_server_image_name %>:</th>
              <td><%= f.text_field :virtual_server_image_name, :class => "InputText" %></td>
            </tr>
            <tr>
              <th><%= f.label :status_cd %>:</th>
              <td><%= f.check_box_group :status_cd %></td>
            </tr>
          </tbody>
        </table>
        <%= hidden_field_tag "refresher[refresh_interval]", @refresh_interval %>
      <% end -%>
      <div class="BoxBtns">
        <span class="BtnWrap">
          <%= f.submit t(".finder.form.submit"), :class => "BtnSearch" %>
        </span>
        <%= reset_tag t("views.links.reset") %>
      </div>
    <% end %>
  </div>
</div>

<div class="Section">
  <p class="BoxActionLinksRight">
  <%= link_to new_tengine_resource_virtual_server_path, :class => "BtnWrap" do -%>
    <span class="BtnAdd"><%= t(".links.new") %></span>
  <% end %>
  </p>

  <%= form_for(:refresher, :url => tengine_resource_virtual_servers_url, :method => :get, :html => {:novalidate => true}) do |f| %>
    <%= f.label :refresh_interval, t(".refresher.form.refresh_interval") %>:
    <%= f.number_field :refresh_interval, :class => "InputText", :min => 0 %>
    <%= t("datetime.prompts.second") %>

    <%= hidden_field_tag "finder[physical_server_name]", @finder.physical_server_name %>
    <%= hidden_field_tag "finder[virtual_server_name]", @finder.virtual_server_name %>
    <%= hidden_field_tag "finder[provided_id]", @finder.provided_id %>
    <%= hidden_field_tag "finder[description]", @finder.description %>
    <%= hidden_field_tag "finder[virtual_server_image_name]", @finder.virtual_server_image_name %>
    <% @finder.status_ids.each do |status| -%>
      <%= hidden_field_tag "finder[status_ids][]", status %>
    <% end -%>

    <span class="BtnWrap">
      <%= f.submit t(".refresher.form.submit"), :class => "BtnSetting" %>
    </span>
  <% end %>

  <%= form_tag tengine_resource_virtual_servers_url, method: :delete do %>
    <table class="TableBase">
      <colgroup>
        <col class="Row1">
        <col class="Row2">
        <col class="Row3 RowAction">
      </colgroup>
      <thead>
        <tr>
          <th rowspan="2"><%= Tengine::Resource::PhysicalServer.human_attribute_name(:name) %></th>
          <th colspan="10"><%= model_class_name(Tengine::Resource::VirtualServer) %></th>
        </tr>
        <tr>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:name) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_id) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:description) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:addresses) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:status) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_image_id) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_type_id) %></th>
          <th><%= Tengine::Resource::VirtualServer.human_attribute_name(:properties) %></th>
          <th><%= t("views.pages.operation") %></th>
          <th><%= check_box_tag :stop, "all", false, :id => "StopAll" %></th>
        </tr>
      </thead>
      <tbody>
        <% @physical_servers.each do |physical_server| -%>
          <% idle = physical_server.guest_servers.blank? -%>
          <% if idle && !@finder.finded_by_virtual_server? -%>
              <tr>
                <td>
                  <%== name_link_and_desc(physical_server,
                         url:edit_tengine_resource_physical_server_url(physical_server),
                         delimiter:"<br />"
                       ) %>
                </td>
                <td colspan="10"><%= t(".virtual_server.not_found") %></td>
              </tr>
          <% else -%>
            <% virtual_servers = @finder.scope(physical_server.guest_servers) -%>
            <% virtual_servers.each_with_index do |virtual_server, i| -%>
              <tr>
                <% if i.zero? -%>
                  <td rowspan="<%= virtual_servers.size %>">
                    <%== name_link_and_desc(physical_server,
                           url:edit_tengine_resource_physical_server_url(physical_server),
                           delimiter:"<br />"
                         ) %>
                  </td>
                <% end -%>
                <td><%= virtual_server.name %></td>
                <td><%= virtual_server.provided_id %></td>
                <td>
                  <div class="YamlView">
                    <span class="IconYaml">
                      <%= truncate(virtual_server.description, :length => 20) %>
                    </span>
                    <div class="YamlScript">
                      <% unless virtual_server.description.nil? %>
                        <% if virtual_server.description.size >= 14 -%>
                          <%= simple_format(ERB::Util.html_escape(
                            virtual_server.description.scan(/.{14}/).join("\n"))) %>
                        <% else -%>
                          <p><%= virtual_server.description %></p>
                        <% end -%>
                      <% end -%>
                    </div>
                  </div>
                </td>
                <td>
                  <%= format_map_yml_value(virtual_server, :addresses) %>
                </td>
                <td><%= virtual_server.status %></td>
                <td><%= image_name_link_and_desc(virtual_server) %></td>
                <td><%= virtual_server.provided_type_id %></td>
                <td>
                  <div class="YamlView">
                    <span class="IconYaml"><%= t(".links.show_yml") %></span>
                    <div class="YamlScript">
                      <%= format_map_yml_value(virtual_server, :properties) %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= link_to_edit edit_tengine_resource_virtual_server_path(virtual_server), :class => "ActionEdit" %>
                </td>
                <td><%= check_box_tag "target_server_ids[]", virtual_server.id.to_s, false, :class => "StopCheckBox" %></td>
              </tr>
            <% end -%>
          <% end -%>
        <% end -%>
      </tbody>
    </table>

    <%= hidden_field_tag "finder[physical_server_name]", @finder.physical_server_name %>
    <%= hidden_field_tag "finder[virtual_server_name]", @finder.virtual_server_name %>
    <%= hidden_field_tag "finder[provided_id]", @finder.provided_id %>
    <%= hidden_field_tag "finder[description]", @finder.description %>
    <%= hidden_field_tag "finder[virtual_server_image_name]", @finder.virtual_server_image_name %>
    <% @finder.status_ids.each do |status| -%>
      <%= hidden_field_tag "finder[status_ids][]", status %>
    <% end -%>
    <%= hidden_field_tag "refresher[refresh_interval]", @refresh_interval %>

    <p class="BoxActionLinksRight">
      <span class="BtnWrap">
        <%= submit_tag t(".links.delete"), confirm: t(".stop.form.confirm"), class: "BtnDelete", id: "SubmitStopAll", disabled: true  %>
      </span>
    </p>
  <% end %>
</div>
