<h1><%= page_title Tengine::Resource::VirtualServer, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:provider) %>:</b>
  <%= @virtual_server.provider %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:name) %>:</b>
  <%= @virtual_server.name %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_name) %>:</b>
  <%= @virtual_server.provided_name %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:description) %>:</b>
  <%= @virtual_server.description %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:status) %>:</b>
  <%= @virtual_server.status %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:addresses) %>:</b>
  <pre><%= @virtual_server.addresses_yaml %></pre>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:properties) %>:</b>
  <pre><%= @virtual_server.properties_yaml %></pre>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_image_id) %>:</b>
  <%= @virtual_server.provided_image_id %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:provided_type_id) %>:</b>
  <%= @virtual_server.provided_type_id %>
</p>

<p>
  <b><%= Tengine::Resource::VirtualServer.human_attribute_name(:host_server) %>:</b>
  <%= @virtual_server.host_server %>
</p>


<%= link_to_edit edit_tengine_resource_virtual_server_path(@virtual_server) %> |
<%= link_to_back_list tengine_resource_virtual_servers_path %>
