<%= form_for(@event, as:"event") do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @event.errors.size, :model => @event.class.human_name) %></h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_type_name, :class => 'label' %>
    <%= f.text_field :event_type_name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :key, :class => 'label' %>
    <%= f.text_field :key, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :source_name, :class => 'label' %>
    <%= f.text_field :source_name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :occurred_at, :class => 'label' %>
    <%= f.time_select :occurred_at, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :notification_level, :class => 'label' %>
    <%= f.number_field :notification_level, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :notification_confirmed, :class => 'label' %>
    <%= f.check_box :notification_confirmed, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :sender_name, :class => 'label' %>
    <%= f.text_field :sender_name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :properties_yaml, :class => 'label' %>
    <%= f.text_area :properties_yaml, :class => 'text_field' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
