<% if @auto_refresh -%>
<% content_for :end_of_head do -%>
  <meta http-equiv="refresh" content="<%= @reflesh_interval %>">
<% end -%>
<p>
[自動更新中] <%= @reflesh_interval %>秒間隔で自動更新しています。
</p>
<% end -%>


<h1><%= page_title Tengine::Core::Event, :list %></h1>


<p id="notice"><%= notice %></p>

<div class="Section">
  <div class="BoxBorder BoxSearchForm">
    <%= form_for(:finder, :html => {:method => :get}) do |f| %>
      <%= field_set_tag do -%>
        <table class="TableForm4rows">
         <tr>
          <th><%= f.label :event_type_name, Tengine::Core::Event.human_attribute_name(:event_type_name) %></th>
          <td><%= f.text_field :event_type_name, class:"InputText" %></td>
         </tr>
         <tr>
          <th><%= f.label :key, Tengine::Core::Event.human_attribute_name(:key) %></th>
          <td><%= f.text_field :key, class:"InputText" %></td>
         </tr>
         <tr>
          <th><%= f.label :source_name, Tengine::Core::Event.human_attribute_name(:source_name) %></th>
          <td><%= f.text_field :source_name, class:"InputText" %></td>
         </tr>
          <tr>
          <th><%= f.label :occurred_at, Tengine::Core::Event.human_attribute_name(:occurred_at) %></th>
          <td>
            <%= f.text_field :occurred_at_start, :style=>"width:12em;", class:"InputText" %> -
            <%= f.text_field :occurred_at_end  , :style=>"width:12em;", class:"InputText" %>
          </td>
         </tr>
         <tr>
          <th><%= f.label :level, Tengine::Core::Event.human_attribute_name(:level) %></th>
          <td><%= f.check_box_group :level %></td>
         </tr>
         <tr>
          <th><%= f.label :confirmed, Tengine::Core::Event.human_attribute_name(:confirmed) %></th>
          <td><%= f.text_field :confirmed, class:"InputText" %></td>
         </tr>
         <tr>
          <th><%= f.label :sender_name, Tengine::Core::Event.human_attribute_name(:sender_name) %></th>
          <td><%= f.text_field :sender_name, class:"InputText" %></td>
         </tr>
         <tr>
          <th><%= f.label :reflesh_interval, "リフレッシュ間隔(秒)" %></th>
          <td><%= f.text_field :reflesh_interval, class:"InputText" %>  <span class="TextNotice">指定した間隔で画面をリフレッシュします。0もしくは、空欄の場合リフレッシュしません。</span></td>
         </tr>
        </table>
      <% end %>
      <div class="BoxBtns">
        <span class="BtnWrap">
          <%= f.submit '検索', :id => 'input-submit', :class=> "BtnSearch" %>
        </span>
      </div>
    <% end %>
    </div>
</div>

<div class="Section">
  <table class="TableBase">
    <thead>
      <tr>
        <th><%= Tengine::Core::Event.human_attribute_name(:event_type_name) %></th>
        <th><%= Tengine::Core::Event.human_attribute_name(:key) %></th>
        <th><%= Tengine::Core::Event.human_attribute_name(:source_name) %></th>
        <th><%= Tengine::Core::Event.human_attribute_name(:occurred_at) %></th>
        <th><%= Tengine::Core::Event.human_attribute_name(:level) %></th>
        <th><%= Tengine::Core::Event.human_attribute_name(:confirmed) %></th>
        <th><%= Tengine::Core::Event.human_attribute_name(:sender_name) %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
  <% @events.each do |event| 
   properties_yaml = event.properties_yaml
  %>
    <tr>
      <td><%= event.event_type_name %></td>
      <td><%= event.key %></td>
      <td><%= event.source_name %></td>
      <td><%= event.occurred_at if event.occurred_at %></td>
      <td><%= event.level_name %></td>
      <td><%= event.confirmed %></td>
      <td><%= event.sender_name %></td>
      <td><%= link_to_show event, class:"ActionDetail" %></td>
      <td><%= link_to_edit edit_tengine_core_event_path(event), class:"ActionEdit" %></td>
      <td><%= link_to_destroy event, confirm: 'Are you sure?', method: :delete, class: "ActionDelete" %></td>
    </tr>
  <% unless event.properties.blank? -%>
    <tr>
      <td colspan="1"></td>
      <td colspan="9"><%= format_map_yml_value event, :properties %></td>
    </tr>
  <% end %>
  <% end %>
    </tbody>
  </table>

  <%= paginate @events, items:@events %>

  <p class="BoxActionLinksRight">
    <%= button_link_to (model_class_name(Tengine::Core::Event) + t("views.links.new")),
      new_tengine_core_event_path, btn_class:"BtnAdd" %>
  </p>
</div>
