<h1><%= page_title Tengine::Core::Event, :list %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= Tengine::Core::Event.human_attribute_name(:event_type_name) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:key) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:source_name) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:occurred_at) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:notification_level) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:notification_confirmed) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:sender_name) %></th>
    <th><%= Tengine::Core::Event.human_attribute_name(:properties) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= event.event_type_name %></td>
    <td><%= event.key %></td>
    <td><%= event.source_name %></td>
    <td><%= event.occurred_at %></td>
    <td><%= event.notification_level %></td>
    <td><%= event.notification_confirmed %></td>
    <td><%= event.sender_name %></td>
    <td><pre><%= event.properties_yaml %></pre></td>
    <td><%= link_to_show event %></td>
    <td><%= link_to_edit edit_tengine_core_event_path(event) %></td>
    <td><%= link_to_destroy event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @events %>

<br />

<%= link_to_new Tengine::Core::Event, new_tengine_core_event_path %>
