<h1><%= page_title Tengine::Core::Event, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Event type name:</b>
  <%= @event.event_type_name %>
</p>

<p>
  <b>Key:</b>
  <%= @event.key %>
</p>

<p>
  <b>Source name:</b>
  <%= @event.source_name %>
</p>

<p>
  <b>Occurred at:</b>
  <%= @event.occurred_at %>
</p>

<p>
  <b>Notification level:</b>
  <%= @event.notification_level %>
</p>

<p>
  <b>Notification confirmed:</b>
  <%= @event.notification_confirmed %>
</p>

<p>
  <b>Sender name:</b>
  <%= @event.sender_name %>
</p>

<p>
  <b>Properties:</b>
  <pre><%= @event.properties_yaml %></pre>
</p>


<%= link_to_edit edit_tengine_core_event_path(@event) %> |
<%= link_to_back_list tengine_core_events_path %>
