<h1><%= page_title Tengine::Job::RootJobnetTemplate, :list %></h1>

<p id="notice"><%= notice %></p>

<div class="right-content">
  <!-- category tree -->
</div>

<div class="left-content">
  
  <div class="search-box">
    <%= form_for(:finder, :html => {:method => :get}) do |f| %>
    <fieldset>
      <legend><%= I18n.t(:search_caption,:scope => [:views, :pages]) %></legend>
      <table>
       <tr>
         <th><%= f.label :id, Tengine::Job::RootJobnetTemplate.human_attribute_name(:id) %></th>
         <td><%= f.text_field :id %></td>
       </tr>
       <tr>
        <th><%= f.label :name, Tengine::Job::RootJobnetTemplate.human_attribute_name(:name) %></th>
        <td><%= f.text_field :name %></td>
       </tr>
       <tr>
        <th><%= f.label :description, Tengine::Job::RootJobnetTemplate.human_attribute_name(:description) %></th>
        <td><%= f.text_field :description %></td>
       </tr>
     </table>

      <div class="align-right">
        <%= f.submit(I18n.t(:search, :scope => [:views, :links])) %>
        <%= tag :input, { "type" => "reset", "name" => "reset", "value" => I18n.t(:reset, :scope => [:views, :links]) } %>
      </div>
    </fieldset>
    <% end %>
  </div>

  <div class="wscrollable">
    <table>
      <tr>
        <th><%= link_to Tengine::Job::RootJobnetTemplate.human_attribute_name(:id), tengine_job_root_jobnet_templates_path(@query_param.merge(sort_param(:id))), :class => sort_class(:id) %></th>
        <th><%= link_to Tengine::Job::RootJobnetTemplate.human_attribute_name(:name), tengine_job_root_jobnet_templates_path(@query_param.merge(sort_param(:name))), :class => sort_class(:name) %></th>
        <th><%= link_to Tengine::Job::RootJobnetTemplate.human_attribute_name(:description), tengine_job_root_jobnet_templates_path(@query_param.merge(sort_param(:desc))), :class => sort_class(:desc) %></th>
        <th><%= I18n.t(:operation, :scope => [:views, :pages]) %></th>
      </tr>
    
    <% @root_jobnet_templates.each do |root_jobnet_template| %>
      <tr class="<%= cycle("even", "odd") %>" >
        <td><%= root_jobnet_template.id %></td>
        <td><%= root_jobnet_template.name %></td>
        <td><%= root_jobnet_template.description %></td>
        <td>
          <%= link_to_show root_jobnet_template %>
          <%= link_to I18n.t(:run, :scope => [:views, :links]), edit_tengine_job_root_jobnet_template_path(root_jobnet_template) %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  
  <%= paginate @root_jobnet_templates %>

</div>

