<h1><%= page_title Tengine::Job::Runtime::Execution, :list %></h1>

<p id="notice"><%= notice %></p>


<table class="TableBase">
  <colgroup>
  </colgroup>
  <thead>
    <tr>
      <th><%= Tengine::Job::Runtime::Execution.human_attribute_name(:root_jobnet) %></th>
      <th><%= Tengine::Job::Runtime::Execution.human_attribute_name(:target_actual_ids) %></th>
      <th><%= Tengine::Job::Runtime::Execution.human_attribute_name(:phase_cd) %></th>
      <th><%= Tengine::Job::Runtime::Execution.human_attribute_name(:started_at) %></th>
      <th><%= Tengine::Job::Runtime::Execution.human_attribute_name(:finished_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @executions.each do |execution| %>
      <tr class="<%= cycle("even", "odd") %>" >
        <td><%= execution.root_jobnet ? execution.root_jobnet.name : nil %></td>
        <td><%= execution.target_actual_ids_text %></td>
        <td><%= execution.phase_name %></td>
        <td><%= execution.started_at %></td>
        <td><%= execution.finished_at %></td>
        <td>
          <%= link_to_show execution, :class => "ActionDetail" %>
          <%= link_to_edit edit_tengine_job_runtime_execution_path(execution), :class => "ActionEdit" %>
          <%= link_to_destroy execution, confirm: 'Are you sure?', method: :delete, :class => "ActionDelete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @executions %>

