<%= form_for(@ec2, as:"ec2") do |f| %>
  <%= model_error_messages(@ec2) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :credential_id %><br />
    <%= f.text_field :credential_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
