<h1><%= page_title Tengine::Job::Category, :show %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Tengine::Job::Category.human_attribute_name(:parent) %>:</b>
  <%= @category.parent %>
</p>

<p>
  <b><%= Tengine::Job::Category.human_attribute_name(:name) %>:</b>
  <%= @category.name %>
</p>

<p>
  <b><%= Tengine::Job::Category.human_attribute_name(:caption) %>:</b>
  <%= @category.caption %>
</p>


<%= link_to_edit edit_tengine_job_category_path(@category) %> |
<%= link_to_back_list tengine_job_categories_path %>
