<%= form_for(@ssh, as:"ssh") do |f| %>
  <% if @ssh.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('activerecord.errors.template.header', :count => @ssh.errors.size, :model => @ssh.class.human_name) %></h2>

      <ul>
      <% @ssh.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :options_yaml %><br />
    <%= f.text_area :options_yaml, :rows => 5, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :command %><br />
    <%= f.text_area :command, :rows => 5, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.number_field :timeout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
