<!DOCTYPE html>
<html>
<head>
  <title>TengineConsole</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :end_of_head %>
</head>
<body>

<%= link_to_list Tengine::Core::Event, tengine_core_events_path %> |
<%= link_to_list Tengine::Core::Driver, tengine_core_drivers_path %> |
<%= link_to_list Tengine::Core::Session, tengine_core_sessions_path %> |
<%= link_to_list Tengine::Core::HandlerPath, tengine_core_handler_paths_path %> |
<%= link_to "イベント発火", tengine_core_event_ignitions_new_path %>

<%= yield %>

</body>
</html>
