<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-language" content="ja">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= @page_title %> - Tengine framework</title>
  <meta name="modified" content="">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :end_of_head %>
</head>
<body>
<div id="header">
  <span class="Guidance"><a name="pageTop" id="pageTop"><%= image_tag "spacer.gif", :alt => "このページのいちばん上です" %></a></span>
  <div id="siteId">
    <p id="systemTitle"><a href="#">Tengine Design Project</a></p>
  </div>
  <div id="headerNav">
    <a href="#" target="_blank"><%= image_tag "logo_tengine.png", :alt => "Tengine framework"%></a>
  </div>
  <!-- /#header -->
</div>
<hr>


<%= link_to_list Tengine::Core::Event, tengine_core_events_path %> |
<%= link_to_list Tengine::Core::Driver, tengine_core_drivers_path %> |
<%= link_to_list Tengine::Core::Session, tengine_core_sessions_path %> |
<%= link_to_list Tengine::Core::HandlerPath, tengine_core_handler_paths_path %> |
<%= link_to "イベント発火", tengine_core_event_ignitions_new_path %>

<%= yield %>


</body>
</html>
